.navbar-brand
{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
  
.nav-links 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.nav-item 
{
    margin-right: 20px;
}
  
.nav-link
{
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}
  
.nav-link:hover, .nav-link#login-link:hover
{
  color: #ccc;
}

.nav-link#login-link
{
  position: absolute;
  right: 12%;
  font-size: 1.15rem;
  font-weight: 500;
  color: #26d0ee;
} 

.nav-link#profile
{
  position: absolute;
  top: 15%;
  right: 4%;
  font-size: 1.3rem;
  font-weight: 500;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  color: #2a2b2b;
}

.nav-link#profile:hover
{
  border: #cc880ac7 solid 1px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.603);
}

/* SearchRecipe.css */
.search-recipe 
{
  display: flex;
  align-items: center;
  width: 64%;
  margin: 2px 0px 4px 0px;
  padding: 0.1rem;
  border: 1px solid #ddd;
  border-radius: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-recipe select
{
  background-color: #fff8eb;
  font-weight: 600;
  padding-left: 0.5rem;
  margin-right: 1px;
  height: 44px;
  width:90px;
  border-radius: 2.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-input {
  flex: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 2.5rem;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-button {
  padding: 0.5rem 1rem;  
  font-size: 1.25rem;
  border: none;
  border-radius: 2.5rem;
  background-color: #eca115;
  color: #fff;
  cursor: pointer;
}

.search-button:hover {
  background-color: #cc880a;
  font-size: 1.2rem;
}

.close-btn-modal
{
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: 600;
  background-color: wheat;
}

.close-btn-modal:hover
{
  background-color: whitesmoke;
  font-size: 13px;
}

.icn
{
  transform: translate(-2px, -2px);
}

ul.main
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
  /* grid-auto-rows: 1fr; */
  /* grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr); */
  gap: 2px;
  
  width: 100%;
  background: #cccccc00; 
  justify-content: space-between;
}

.main li
{  
  padding: 2px;
  background: #fff;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  height: auto;
}

.recipe-card
{
  position: relative;
  color: black;
  background: linear-gradient(180deg, #ffb74b96, #ffb74bc5, transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
 
  height: 100%;

}

.recipe-card strong
{
  font-size: 18px;
  transform: translateY(10px);
}

.recipe-card img
{
  width: 256px;
  height: 200px;
  border-radius: 4%;
}

.recipe-card .info
{
  display: flex;
  flex-direction: column;
  width: 256px;

  border-bottom: #2a2b2b solid 1px;
}

.ingredients 
{
  opacity: 0;
  height: 0;
  transform: scale(0);
  transition: opacity 0.3s, height 0.3s, transform 0.3s;
}

.main li .showIng_btn:hover:hover .ingredients {
  opacity: 1;
  height: auto;
  transform: scale(1);
}

.ingredients h4
{
  text-align: start;
  padding: 10px;
}


.ingred-info
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;

  padding: 2px;
  margin: 0px 10px 0px 10px;
  background: #58585850;
  height: 226px;
  width: 350px;
  /* border-bottom: 1px solid gray; */
  overflow-y: scroll;
}

.grid-item 
{
  text-align: left;
  font-weight: 500;
  background-color: #eee;
  padding: 1px 2px;
  border-left: 2px solid black;
}

/* Add some content to the grid items */
.grid-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  content: "Item 1";
}

.grid-item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  content: "Item 2";
}

.grid-item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  content: "Item 3";
}

.grid-item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  content: "Item 4";
}

/* ... and so on for the remaining items */

.grid-item:nth-child(20) {
  grid-column: 2 / 3;
  grid-row: 10 / 11;
  content: "Item 20";
}

.recipe-modal
{
  display: flex;
  flex-direction: column;

  position: fixed;  
  top: 75px;
  left: 0;
  width: 98.25%;
  height: 92%;
  margin: 0px 4px;  
  padding: 10px;   
  border-radius: 8px;
  overflow-y: scroll;

  backdrop-filter: blur(32px);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: wheat 0px -2px 15px;

  z-index: 150; 
  
}

.recipe-modal .info
{
  padding: 10px; 
  background: #2b2b2b98;
}

.recipe-modal .info strong
{
  font-size: 32px;
}

.recipe-modal img
{
  width: 34vw;
}

.recipe-modal .ingredients
{
  background: #2a2b2b80;
  margin: 10px;
}
.recipe-modal .ingred-info
{
  
  height: 64%;
  color: #2a2b2b;
}

.instruct-container
{

  display:flex;
  flex-direction:column;
  margin-top: 45px;
  height: 500px;
}

.recipe-modal .instructions p
{
  height: 470px;
  padding: 0px 10px;
  background: #2a2b2ba2;
  overflow-y: scroll;  
} 

.video-container
{
  padding: 126px;
}

.recipe-modal .btn-container
{
  position: absolute;
  top: 8px;
  right: 50px; 

  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-top: 1px; 
 
  background: none;
 
}

.recipe-modal .rec-save, .rec-close, .rec-edit
{ 
  margin-top: 1px;
  width: 3px;
  height: 38px;
  background: none;
  box-shadow: #2a2b2b -2px 2px 5px;
  border-radius: 75px;
}

.recipe-modal .rec-close .icn
{
  transform: translate(-15px, -16px);
  font-size: 32px;
}
.recipe-modal .rec-save .icn
{
  transform: translate(-17px, -10px);
  font-size: 26px;
}
.recipe-modal .rec-edit .icn
{
  transform: translate(-12px, -8px);
  font-size: 23px;
}

.save
{
  position: absolute;
  top: 8px;
  right: 4px;
  margin-top: 1px;
  width: 3px;
  height: 38px;
  background: none;
  box-shadow: #2a2b2b -2px 2px 5px;
  border-radius: 75px;
}
.save:hover
{
  background: #cc880a;
}
.save button
{
  width: 32px;
  height: 32px;  
}
.save .icn
{
  transform: translate(-10px, -10px);
  font-size: 26px;
}

.AddRecipe
{
  position: fixed;
  top: 8%;
  left: 8px; 

  width: 99%;
  height: 90%; 
  
  margin-bottom: 64px;
  padding-top: 32px;
  background: linear-gradient(180deg, #1b1b1b,#252525,#2a2b2b, #2a2b2b, #2a2b2b, #2a2b2bb2);
  z-index: 150;
}

.AddRecipe form
{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.add-row
{  
  display: flex;
  width: 86%;
}

.add-column
{  
  display: flex;
  flex-direction: column;
  min-width: 200px;  
  margin: 4px;
  text-align: start;
  gap: 4;
}

.add-column#img-src-vid
{
  min-width: 286px;
  flex: 1;
}

.add-column#ingredients, #measures
{
  max-width: 300px;
}

.add-column#instructions
{
  flex: 2;
}

#img-src-vid img
{
  margin-bottom: 10px;
  width: 256px;
  height: 256px;
  border-radius: 8px;
}

.AddRecipe button
{ 
  width: 128px;
}

.AddRecipe input
{
  /* height: 32px; */
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.AddRecipe li
{
  overflow: hidden;
  border-bottom: #eca115 solid 1px;
}

#add_recipe_btn
{
  width: 600px;
}
