
.RecipeApp
{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100svh;
  background: antiquewhite;
}

.searchNfilter
{
  position: fixed;
  top:6%;
  left:0;
  width: 100%;
  padding: 8px 16px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.showcase
{  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase img
{
  width: 100%;
  height: 100%;
}

.showcase .h-scroll
{
  background: #cccccc44;
  position: relative;
  margin-top: -256px;
  width: 93%;
  height: 256px;
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.h-scroll .recipe-card
{
  border: #34a9ec solid 1px;
  padding: 8px;
} 

.h-scroll .recipe-card img
{
  width: 200px;
}

.Modal
{
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 64px;
  background: #33333348;
  width: 98%;
  height: 86%;
}

.modal_contanainer
{
  position: relative;
  background: #686868ee;
  width: 400px;
  height: 86%;
  border-radius: 16px;
}

form
{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1
{
  position: absolute;
  top: 16px;
}

label 
{
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: overline;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]
{
  width: 75%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus 
{
  width: 78%;
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

form button 
{
  width: 75%;
  margin: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


form button:hover 
{
  background-color: #3e8e41;
}

button 
{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover 
{
  background-color: #3e8e41;
}


form a 
{  
  color: #34a9ec;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

form a:hover 
{
  background-color: #3e8e41;
}




