*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root 
{  
  text-align: center;
}

:root 
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  
}

body 
{ 
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  max-height: 100vh;
  overflow: hidden;  
}

header
{
  position: fixed;
  width: 98%;
  height: 200px;
  top: 1%;
  left: 1%;

  background: url('assets/foodbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  
  z-index: 100;   
}

main
{
  position: absolute;
  top: 13rem;  

  padding: 16px;
  width: 100%;
  height: 85%;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* justify-content: center; */
  background: url('./assets/bg-349610.jpg') cover no-repeat;  
  overflow-y: scroll;
  scrollbar-width: none;
}
