*
{
  margin: 0;
  padding: 0;
}

#root 
{
  width: 100vw;
  text-align: center;
}

:root 
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  
}

body 
{
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header
{
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 100;
  
}

main
{
  position: absolute;
  top: 120px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center; 
}
